#weather__main {
  display: block;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.weather__section {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px 0px;
  min-height: 300px;
  height: 50vh;
  backdrop-filter: blur(0px);
  transition: all ease-in-out 0.6s;
}

.weather__section:hover {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

.weather__button__area {
  max-width: 500px;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 48px;
}

.weather__button__lang {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 900;
  font-family: inherit;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  padding: 10px 16px;
  z-index: 1;
  width: 64px;
  height: 44px;
}
