:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1280px;
  text-align: center;
  width: 100%;
  padding: 8px;
  position: relative;
}

.bg__image__common {
  background-position: center;
  background-size: cover;
}

.bg__image__01 {
  background-image: url("/assets/01.jpg");
}

.bg__image__02 {
  background-image: url("/assets/02.jpg");
}

.bg__image__03 {
  background-image: url("/assets/03.jpg");
}

.bg__image__04 {
  background-image: url("/assets/04.jpg");
}
