.weather__list ul {
  text-decoration: none;
  padding: 16px;
  overflow-y: scroll;
  min-height: 200px;
  height: 35vh;
}

.weather__list ul li {
  display: grid;
  grid-template-columns: 1fr 74px 40px 1fr;
  text-align: right;

  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.weather__list ul li:hover {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(40px);
}
