.cities__main {
  display: block;
  width: 100%;
  min-width: 0; /* prevent grid blow out ;) */
}

.cities__group__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
  padding: 0px 16px;
}

.cities__button {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.cities__button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.cities__button__active {
  background-color: rgba(245, 101, 101, 0.75);
}

.cities__button__active:hover {
  background-color: rgba(245, 101, 101, 0.9);
}
