.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 16px;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}

.weather__header__details {
  font-size: 16px;
  margin: 0;
}

.weather__header__details h6 {
  font-size: 18px;
  margin: 0;
  margin-top: 6px;
}

.weather__header h2 {
  font-size: 72px;
  margin: 0;
}

.weather__header p {
  font-size: 18px;
  margin: 0;
  margin-top: 24px;
  text-align: right;
}
